{% extends 'MSE_Analyzer/index.html' %}

{% block title %}
About Us - MSE Analyzer
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>Contact</h1>
        <p>
            This website was created by:
        </p>
            <ul class="list-group">
                <li class="list-group-item">Marko Minovski</li>
                <li class="list-group-item">Nikola Janev</li>
                <li class="list-group-item">Ermal Baki</li>
            </ul>
        <br>
        <p>
            For bugs, contact at: minovskimarco@gmail.com
        </p>
    </div>
</div>
{% endblock %}