{% extends 'MSE_Analyzer/index.html' %}


{% block content %}
  <div class="container mt-4">
    <div class="p-5 text-center text-white" style="
        background-image: url('');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(75%);
        border-radius: 8px;">
        <h1 class="display-4">MSE Analyzer</h1>
        <p class="lead">A tool for technical analysis of information on the Macedonian Stock Exchange</p>
    </div>
</div>
{% endblock %}   